/**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */

/*==========================================
            GENERAL SECTION
===========================================*/
html, body{
    height: 100%;
}
/*==========================================
            GENERAL SECTION
===========================================*/
.loader{
    width: 100%;
    height: 100%;
    background: #63C600;
    background: linear-gradient(to right, #5C9320 2%, #63C600 82%);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1111;
}
.loader-inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.loader-block{
    width: 60px;
    height: 60px;
}
.loader span{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 100%;
    display: block;
    position: absolute;
    animation: load 4.5s ease-in-out infinite;
}
.loader span.block-1{
    top: 0;
    left: 0;
    animation-delay: 1.1s;
}
.loader span.block-2{
    top: 0;
    left: 16px;
    animation-delay: 1s;
}
.loader span.block-3{
    top: 0;
    left: 32px;
    animation-delay: .9s;
}
.loader span.block-4{
    top: 0;
    left: 48px;
    animation-delay: .8s;
}
.loader span.block-5{
    top: 16px;
    left: 0;
    animation-delay: .7s;
}
.loader span.block-6{
    top: 16px;
    left: 16px;
    animation-delay: .6s;
}
.loader span.block-7{
    top: 16px;
    left: 32px;
    animation-delay: .5s;
}
.loader span.block-8{
    top: 16px;
    left: 48px;
    animation-delay: .4s;
}
.loader span.block-9{
    top: 32px;
    left: 0;
    animation-delay: .3s;
}
.loader span.block-10{
    top: 32px;
    left: 16px;
    animation-delay: .2s;
}
.loader span.block-11{
    top: 32px;
    left: 32px;
    animation-delay: .1s;
}
.loader span.block-12{
    top: 32px;
    left: 48px;
    animation-delay: 0s;
}
.loader span.block-13{
    top: 48px;
    left: 0;
    animation-delay: -.1s;
}
.loader span.block-14{
    top: 48px;
    left: 16px;
    animation-delay: -.2s;
}
.loader span.block-15{
    top: 48px;
    left: 32px;
    animation-delay: -.3s;
}
.loader span.block-16{
    top: 48px;
    left: 48px;
    animation-delay: -.4s;
}

@keyframes load{
    0% {
        opacity: 0;
        transform: translateY(-97px);
    }
    15%{
        opacity: 0;
        transform: translateY(-97px);
    }
    30%{
        opacity: 1;
        transform: translateY(0);
    }
    70%{
        opacity: 1;
        transform: translateY(0);
    }
    85%{
        opacity: 0;
        transform: translateY(97px);
    }
    100%{
        opacity: 0;
        transform: translateY(97px);
    }
}